<style>
	.btn {
		margin-top: 50px;
	}
	.jumbotron h2 {
		color: #8C4B30;
	}
	img {
		width: 100%;
	}
    .row {
        margin-top: 50px;
    }

    .cardContainer {
        margin-bottom: 30px;
    }

    .arrowContainer {
        margin-top: 20px;
    }

</style>
<input ng-change="search.searchIng()" ng-model="search.searchString" type="text" class="form-control" placeholder="  Search by ingredient...">
<div class="row col-md-6 col-md-offset-3">
    <div class="jumbotron">
        <h4>Results</h4>
        <button ng-if="!search.processing" ng-repeat="ing in search.ingredients" ng-click="search.searchByIng(ing.name, false)" class="btn btn-primary">{{ ing.name }}</button>
    </div>

    <div class="jumbotron" ng-repeat="drink in search.drinks">
        <span class="card-title"><h3>{{ drink.name }}</h3></span>
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="assets/img/genericDrink.png">
            </div>
        </div>
        <div class="arrowContainer">
            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
        </div>
    </div>


</div>
