body {
	font-family: "Lucida Console", Monaco, monospace !important;
}

.jumbotron {
	text-align: center;
	opacity: 0.9;
	/*color: #8C4B30 !important;*/
}

.jumbotron h2 {
	color: #8C4B30;
}

.form-control {
	background-color : #f1f1f1 !important;
}

main {
	padding-top:30px;	
}

body {
	background-image: url('http://us.thebar.com/img/homepage/carousel/2015_september_updates/world-class-bg.jpg')
}

.btn-primary {
	background: #F2C7B5 !important;
	color: black !important;
}

.navbar-brand {
	color: #8C4B30 !important;
}

.nav li a {
	color: #8C4B30 !important;
}

header .navbar {
	background-color: white;
	border-radius:0;
}

.show-hide-message.ng-hide-remove {
	-webkit-animation:zoomIn 0.3s both ease;
	-moz-animation:zoomIn 0.3s both ease;
	animation:zoomIn 0.3s both ease;
}

.spinner {
	-webkit-animation:spin 1s infinite;
	-moz-animation:spin 1s infinite;
	animation:spin 1s infinite;
}

@keyframes spin {
	from 	{ transform:rotate(0deg); }
	to 	{ transform:rotate(360deg); }
}

@-webkit-keyframes spin {
	from 	{ -webkit-transform:rotate(0deg); }
	to 	{ -webkit-transform:rotate(360deg); }
}

@-moz-keyframes spin {
	from 	{ -moz-transform:rotate(0deg); }	
	to 	{ -moz-transform:rotate(360deg); }
}